* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    border: solid red 0px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: #1C2A44;
    border-radius: 0px;
}

nav {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.637) 0%, rgba(255,255,255,0) 100%);
    transition: all 0.3s ease-in-out;
}

nav.sticky {
    /* background-color: #00549e !important; */
    /* background-color: #1C2A44 !important; */
    background-color: #ffffff !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,0) 100%);
    padding: 2px 3px 2px 3px !important;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(209, 209, 209, 0.466);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.sticky .nav-link,
.sticky .fw-bold,
.sticky .fa-solid {
    /* color: rgb(255, 255, 255) !important; */
    /* color: rgb(68, 68, 68) !important; */
    color: #1c2a44c2 !important;
}

.img {
    position: relative;
    height:670px;
}
  
.img::before {
    content: "";
    background-image: url('corousel2.jpg');
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: 
        brightness(43%)
        blur(0px)
        saturate(1)
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.img .content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.img-logo img {
    width: 20%;
    min-width: 130px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.limit-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.limit-title:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.card-shadow {
    box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.1);
}

.card-hover {
    box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.card-hover:hover {
    box-shadow: 0px 0px 27px -4px #0000002f;
}

.text-blue {
    /* color: #00549ec2; */
    color: #1c2a44c2;
}

.bg-blue {
    background-color: #1C2A44;
}

.img-2 {
    position: relative;
    height: auto;
    border-top: solid rgba(226, 226, 226, 0.89) 1px;
    border-bottom: solid rgba(226, 226, 226, 0.89) 1px;
}
  
.img-2::before {
    content: "";
    background-image: url('corousel2.jpg');
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: 

        blur(0px)
        opacity(7%)
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.img-2 .content-2 {
    position: relative;
    z-index: 2;
    text-align: center;
}

.table tr td,
.table tr th {
    background-color: rgba(255, 255, 255, 0);
} 

th {
    background-color: rgba(255, 255, 255, 0.178);
}

.apexcharts-title-text {
    display: none;
}

.apexcharts-toolbar .apexcharts-menu-icon {  
    display: none;
}

#chart {
    margin-top: 0px;
}
